/* Layout */

body {
  max-width: 30em;
  margin: 0 auto;
}

main {
  margin-top: 50px;
}

@media screen and (max-width: 625px) {
  body {
    margin-left: 4rem;
    margin-right: 2rem;
    max-width: 30em;
  }
}

@supports (display: grid) {
  html {
    height: 100vh;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  main {
    grid-row: 1;
    align-self: start;
    margin-top: initial;
  }

  footer {
    grid-row: 2;
    margin-bottom: 2em;
  }

  main,
  footer {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 30em) 1fr;
  }

  main > *,
  footer > * {
    grid-column: 2;
  }
}

/* Style */

html {
  font-size: 1em;
  font-family: "latin_modern_mono10_light", monospace;
  line-height: 1.5em;
  color: #333;
  background-color: white;
}

p:first-child {
  margin-top: 2.5em;
}

@supports (display: grid) {
  p:first-child {
    margin-top: 1.5em;
  }

  header {
    display: grid;
    grid-template-columns: 30px min-content 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: -30px;
  }

  header::before {
    color: orange;
    grid-column: 1;
    content: "<";
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    margin-top: 0;
    margin-right: 10px;
    margin-top: 1px;
  }

  header::after {
    color: orange;
    content: "/>";
    font-weight: bold;
    margin-top: 1px;
    margin-left: 10px;
  }
}

header h1 {
  font-size: 1em;
  margin: 0;
}

#intro > p:first-child {
  font-weight: bold;
}

#intro ul {
  margin: 1em 0;
  padding: 0;
}

#intro li {
  margin: 0 0 1em;
  list-style: lower-roman;
  counter-reset: 2;
}

.spaced {
  margin-top: 2.5em;
}

address {
  font-style: normal;
}

address ul {
  margin: 0;
  padding: 0;
}

address ul > li {
 
  display: flex;
  align-items: center;
}

address ul > li > a {
  padding-left: 0.25em;
  vertical-align: middle;
  line-height: 2;
}

footer p:first-child {
  padding-top: 1em;
  border-top: 1px solid #c0c0c0;
}

footer > * {
  font-size: small;
  margin: 0;
}

/* Fonts */

@font-face {
  font-family: "latin_modern_mono10_regular";
  src: url("../fonts/lmmono10-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latin_modern_mono10_light";
  src: url("../fonts/lmmonolt10-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latin_modern_mono10_light";
  src: url("../fonts/lmmonolt10-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
